@media all and (max-width:1200px){
    
    .about-image::after {
        width: 93%;
        left: -25px;
    }
    .shape img {
        display: none;
    }
}
@media all and (min-width:992px){
    .menu ul { 
        display: flex !important;
    }
}
@media all and (max-width:992px){
    .menu ul { 
        position: absolute;
        top: 81px;
        left: -500px;
        width: 40%;
        background: #27caba;
        z-index: 99999;
        flex-direction: column;
        height: 500px;
        transition: .5s;
    }
   
    .menu ul li a {
        margin: 2rem 39px;
    }
    .mobile-menu a{
        display: block;
    }
    .right-about-full {
        order: -1;
        margin-bottom: 3rem;
    }
    .about-image::after {
        width: 61%;
        left: 93px;
    }
    .right-about p {
        max-width: 100% !important;
    }
    .work-items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.7rem;
    }
    
}
@media all and (max-width:768px){
    .right-banner {
        text-align: center !important;
        margin-top: 3rem;
    }
    .section-padding{
        padding: 5rem  0 !important;
    }
    .about-image::after {
       display: none;
    }
    .form-contact {
        order: -1;
        margin-bottom: 3rem;
    }
  
}
@media all and (max-width:576px){
    .about-image img {
        height: 40rem;
        width: auto;
    }
    .work-items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.7rem;
    }
    .footer-logo {
        text-align: center;
    }
    .single-footer ul {
        justify-content: center;
    }
}
@media all and (max-width:480px){
    h1 {
        font-size: 5.2rem;
    }
    .right-banner img {
        height: 35rem;
    }
    .work-items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.7rem;
    }
    input{
        width: 100% !important;
    }
   
}